[push]
	default = current
[difftool]
	prompt = false
[alias]
	dt = difftool
	pl = pull --ff-only
	co = checkout
	df = diff --ignore-space-change
	dc = diff --cached
[diff]
	tool = meld
[color]
	ui = auto
