[submodule ".vim/bundle/detectindent"]
	path = .vim/bundle/detectindent
	url = git://github.com/ciaranm/detectindent.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "todo.txt-cli"]
	path = todo.txt-cli
	url = git://github.com/Thann/todo.txt-cli.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "todo-cli-plugins"]
	path = todo-cli-plugins
	url = git://github.com/Thann/todo-cli-plugins.git
[submodule ".vim/bundle/vim-nerdtree-tabs"]
	path = .vim/bundle/vim-nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule ".vim/bundle/ctrl-p.vim"]
	path = .vim/bundle/ctrl-p.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/file-line"]
	path = .vim/bundle/file-line
	url = git@github.com:bogado/file-line.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
