[push]
	default = current
[difftool]
	prompt = false
[alias]
	dt = difftool
	mt = mergetool --no-prompt
	pl = pull --ff-only
	co = checkout
	df = diff --ignore-space-change
	dc = diff --cached
[diff]
	tool = meld
[merge]
	tool = meld
[color]
	ui = auto
[core]
	pager = less -+X
[pager]
	diff = less -p'^diff --git' -RSs -+FX
	log  = less -p'^commit \\w{40}$' -RSs -+FX
	stash = less -+X # Needed because stash tries to use the log pager =/
