[init]
	templatedir = ~/.config/git/template
[push]
	default = current
[rebase]
	autosquash = true
[difftool]
	prompt = false
[alias]
	dt = difftool
	mt = mergetool --no-prompt
	pl = pull --ff-only
	co = checkout
	ch = cherry -v
	chr = cherry -v HEAD ; reverse
	chp = cherry-pick -x
	df = diff --ignore-space-change
	dc = diff --cached
	fp = format-patch
	dfp = diff --no-prefix ; for making patches
	dcp = diff --cached --no-prefix
	refd = reflog --date=short
	force = push --force-with-lease

	; set-upstream - usage: `git su [remote [branch]]`
	su = "!f() { BRANCH=$(git rev-parse --abbrev-ref HEAD); git branch --set-upstream-to=${1:-origin}/${2-$BRANCH} $BRANCH; }; f"
	; merge-log - shows the commits inlcuded by a merge; usage: `git mlog [commit] [log-options]`
	mlog = "!f() { args=(\"${@-HEAD}\"); if [[ ${args[0]} == \"-\"* ]]; then args=(\"HEAD\" \"${args[@]}\"); fi; git log \"${args[0]}^..${args[0]}\" ${args[@]:1}; }; f"
[diff]
	tool = meld
[user]
	; Add email and name below
[merge]
	tool = meld
[color]
	ui = auto
[core]
	; Makes less never print directly to stdout
	pager = less -+X
	excludesfile = ~/.config/git/gitignore
[pager]
	; Auto-search for begining of files
	diff = less -p'^diff --git' -RSs -+FX
	; Auto-search for begining of commits
	log  = less -p'^commit \\w{40}$' -RSs -+FX
